# --- IDE Specific ---
.idea/
*.iml
.project
.classpath
.settings/
.vs/
.vscode/
bin/

# --- Maven Build Output ---
target/
*.log

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Minecraft Server Files ---
plugins/
world/
world_nether/
world_the_end/
logs/
cache/
*.jar
!src/**